#parse("cabecalho.vm")

		<div class="search_field">
			
			<p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
						
	<div class="left">
	
	<h3>Acesso Básico Sistema BET</h3>
			<div class="left_box">
			<form id="formAcesso">
				<label>CPF do Passageiro: <input type="text" name="cpf" class="search_small"/></label><br/>
				<label>CNPJ da Empresa: <input type="text" name="cnpj" class="search_small"/></label><br/>
				<input type="submit" class="submit" value="Buscar"/>
				<input type="hidden" name="operacao" value="acessarPassageiro"/><br/><br/><br/>
			</form>
		</div>
	#if ($acessarPassageiro)			
	<h3>$acessarPassageiro</h3>
		<div class="left_box">
			<form id="formAcessoPassageiro">
			#if ($passageiro)
				<label>Identificador do Passageiro: $passageiro.UsuarioID</label><br/>
				<label>Nome: $passageiro.NomePassageiro</label><br/>
				<label>CPF: $passageiro.Cpf</label><br/><br/><br/>
				<input type="hidden" name="cpf" value="$passageiro.Cpf"/>			
			#elseif ($empresaUsuaria)
				<label>Identificador da Empresa: $empresaUsuaria.UsuarioID</label><br/>
				<label>Nome Fantasia: $empresaUsuaria.NomeFantasia</label><br/>
				<label>Razão Social: $empresaUsuaria.RazaoSocial</label><br/>
				<label>CNPJ: $empresaUsuaria.Cnpj</label><br/>				
				<label>Contato: $empresaUsuaria.Contato</label><br/>
				<label>Endereço: $empresaUsuaria.Endereco</label><br/>
				<label>Telefone: $empresaUsuaria.Telefone</label><br/>
				<label>Email: $empresaUsuaria.Email</label><br/><br/><br/>
				<input type="hidden" name="cnpj" value="$empresaUsuaria.Cnpj"/>
			#else <label>$mensagem</label/><br/><br/><br/>
			#end
			</form>
		</div>
	#end
	
	
	#if ($passageiro)
		<h3>Lista de Cartões</h3>
		<div class="left_box">	
			<form id="formListaCartoes">
			<table id="tabelaListaCartoes">
				<thead>
					<tr><th>ID</th><th>Nome do Passageiro</th><th>Tipo</th><th>Data de Aquisição</th><th>Data de Validade</th><th>Saldo</th></tr>
				</thead>
				<tbody>
					#foreach($cartao in $cartoes)
					<tr id="linha$cartao.CartaoID">
						<td>$cartao.CartaoID</td>
						<td>$cartao.Passageiro.NomePassageiro</td>
						<td>$cartao.TipoPassageiro.NomeTipo</td>
						<td>$sdf.format($cartao.DtAquisicao.Time)</td>
						<td>$sdf.format($cartao.DtValidade.Time)</td>
						<td>$cartao.Saldo</td>
					</tr>
					#end
				</tbody>
			</table>
			<label>$!mensagemSemCartao</label/><br/><br/>
			</form>
		</div>
	#end

	#if ($empresaUsuaria)
		<h3>Lista de Funcionários</h3>
		<div class="left_box">	
			<form id="formListaCartoes" action="formCartoesEmpresaUsuaria.html">
				<table id="tabelaListaCartoes">
					<thead>
						<tr><th>ID</th><th>Nome do Funcionário</th><th>CPF</th></tr>
					</thead>
					<tbody>
						#foreach($passageiro in $passageiros)
						<tr id="linha$passageiro.UsuarioID">
							<td>$passageiro.UsuarioID</td>
							<td>$passageiro.NomePassageiro</td>
							<td>$passageiro.Cpf</td>							
						</tr>
						#end
					</tbody>
				</table>
				<label>$!mensagemSemPassageiros</label/><br/><br/>
				#if (!$mensagemSemPassageiros)
					<label>Tipo de Cartão dos Funcionários: 
						<select name="nomeTipo" id="nomeTipo">						
							#foreach ($tipo in $tipos)
								<option value="$tipo.NomeTipo">$tipo.NomeTipo </option>
							#end
						</select>
					</label><br/>				
					<input type="submit" class="submit" value="Cartões"/>					
					<input type="hidden" name="cnpjEmpresa" value="$empresaUsuaria.Cnpj"/>
				#end
			</form>
		</div>
	#end	
	
	<div class="right">
	</div>	

#parse("rodape.vm")