#parse("cabecalho.vm")


		<div class="search_field">
			<form method="post">
				<div class="search_form">
				<p>Busca Por ID: <input type="text" name="tipoID" class="search_tiny" /> 
				<input type="hidden" name="operacao" value="buscar"/>
				<input type="submit" value="Buscar" class="submit" /> <a class="grey" href="#">Avançada</a></p>
				</div>
			</form>	
			<p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
		
		<div class="left">
			
			<h3>Lista de tipos de passageiros</h3>
			<div class="left_box">	
			<form id="formListaTipos">
			<table id="tabelaListaTipos">
				<thead>
					<tr><th>&nbsp;</th><th>ID</th><th>Tipo de Passageiro</th><th>Descrição</th><th>Pgto Passagem</th><th>Desconto(%)</th><th>Valor Aquisição</th></tr>
				</thead>
				<tbody>
					#foreach($tipoPagamento in $tiposPagamentos)
					<tr id="linha$tipoPagamento.TipoPassageiro.TipoID">
						<td><input type="checkbox" name="chkTipoID" value="$tipoPagamento.TipoPassageiro.TipoID"/></td>
						<td>$tipoPagamento.TipoPassageiro.TipoID</td>
						<td>$tipoPagamento.TipoPassageiro.NomeTipo</td>
						<td>$tipoPagamento.TipoPassageiro.DescricaoTipo</td>
						<td>$tipoPagamento.TipoPassageiro.FormaPgtoPassagem</td>
						<td>$tipoPagamento.TipoPassageiro.Desconto</td>
						<td>$tipoPagamento.ValorAquisicao</td>
						<td><a href="formTipoPassageiro.html?tipoID=$tipoPagamento.TipoPassageiro.TipoID">Alterar</a></td>
					</tr>
					#end
				</tbody>
			</table>
			#if ($mensagem) <label>$mensagem</label/><br/><br/>#end
			<input type="button" class="submit" value="Remover" onclick="verificaRemover('tabelaListaTipos', 'formListaTipos')"/>
			</form>
			<a href="formTipoPassageiro.html">Inserir Novo Tipo de Passageiro</a>
		</div>
	</div>
	
	
	
	<div class="right">
	
	</div>	
		
#parse("rodape.vm")