#parse("cabecalho.vm")

		<div class="search_field">

			<p>&nbsp;</p>
		</div>

<div class="left">
	<h3>Lista de Cartões da Empresa</h3>
	<div class="left_box">
		<form id="formCartoesEmpresaUsuaria" action="acessoBasico.html">
			<table id="tabelaListaCartoesEmpresa">
				<thead>
					<tr><th>ID</th><th>Nome do Passageiro</th><th>Tipo</th><th>Data de Aquisição</th><th>Data de Validade</th><th>Saldo</th>
					</tr>
				</thead>
				<tbody>
					#foreach($cartao in $cartoesEmpresa)
						<tr id="linha$cartao.CartaoID">
							<td>$cartao.CartaoID</td>
							<td>$cartao.Passageiro.NomePassageiro</td>
							<td>$cartao.TipoPassageiro.NomeTipo</td>
							<td>$sdf.format($cartao.DtAquisicao.Time)</td>
							<td>$sdf.format($cartao.DtValidade.Time)</td>
							<td>$cartao.Saldo</td>
						</tr>
					#end
				</tbody>				
			</table>
			<input type="button" class="submit" value="Cancelar" onclick="redireciona('acessoBasico.html')"/>
		</form>
	</div>
</div>
	
<div class="right">
</div>	
	
#parse("rodape.vm")