#parse("cabecalho.vm")

		<div class="search_field">
			
			<p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
						
	<div class="left">

		<h3>Lista de Viagens - Cartão $cartaoID</h3>
		<div class="left_box">	
			<form id="formListaViagensCartao">
			<table id="tabelaListaViagensCartao">
				<thead>
					<tr><th>&nbsp;</th><th>ID</th><th>Data Viagem</th><th>Hora Entrada</th><th>Nome Linha</th></tr>
				</thead>
				<tbody>
					#foreach($viagem in $viagens)
					<tr id="linha$viagem.ViagemID" class="selectable">
						<td><input type="checkbox" name="chkViagemID" value="$viagem.ViagemID"/></td>
						<td>$viagem.ViagemID</td>
						<td>$sdf.format($viagem.Hora.Time)</td>
						<td>$hora.format($viagem.Hora.Time)</td>
						<td>$viagem.Linha.NomeLinha</td>
					</tr>
					#end
				</tbody>
			</table>			
			<input type="button" class="submit" value="Cancelar" onclick="redireciona('acessoBasico.html')">
			</form>
		</div>

	<div class="right">
	</div>	

#parse("rodape.vm")