#parse("cabecalho.vm")

		<div class="search_field">
			<form method="post">
				<div class="search_form">
				<p>Busca Por ID da Linha Integrada: <input type="text" name="cpf" class="search_small" /> 
				<input type="hidden" name="operacao" value="buscar"/>
				<input type="submit" value="Buscar" class="submit" /> <a class="grey" href="#">Avançada</a></p>
				</div>
			</form>
			
			
    <p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
		
		<div class="left">
		<h3>Lista de Integrações</h3>
			<div class="left_box">	
			<form id="formListaIntegracao">
			<table id="tabelaListaIntegracao">
				<thead>
					<tr><th>&nbsp;</th><th>ID</th><th>Linha Original</th><th>Linha Integrada</th></tr>
				</thead>
				<tbody>
					#foreach($linha in $linhasIntegracao)
					<tr id="linha$linha.integracaoID">
						<td><input type="checkbox" name="chkIntegracaoID" value="$linha.IntegracaoID"/></td>
						<td>$linha.IntegracaoID</td>
						<td>$linha.LinhaOriginal.NomeLinha</td>
						<td>$linha.LinhaIntegrada.NomeLinha</td>	
						<td><a href="formLinhaIntegrada.html?integracaoID=$linha.IntegracaoID">Alterar</a></td>
					</tr>
					#end
				</tbody>
			</table>
			#if ($mensagem) <label>$mensagem</label/><br/><br/>#end
			<input type="button" class="submit" value="Remover" onclick="verificaRemover('tabelaListaIntegracao', 'formListaIntegracao')"/>
			</form>
			<a href="formLinhaIntegrada.html">Inserir Nova Linha Integrada</a>
		</div>
	</div>
	
	
	<div class="right">
	
	</div>	
		
#parse("rodape.vm")