#parse("cabecalho.vm")


		<div class="search_field">
			<form method="post">
				<div class="search_form">
				<p>Busca Por ID: <input type="text" name="validadorID" class="search_tiny" /> 
				<input type="hidden" name="operacao" value="buscar"/>
				<input type="submit" value="Buscar" class="submit" /> <a class="grey" href="#">Avançada</a></p>
				</div>
			</form>	
			<p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
		
		<div class="left">
			<h3>Validador</h3>
			<div class="left_box">
				<form id="formValidador">
					<input type="hidden" name="operacao" value="criar"/>
					<input type="submit" class="submit" value="Criar"/>
				</form>
			</div>

		<h3>Lista de Validadores</h3>
	
		<div class="left_box">	
			<form id="formListaValidador">
			<table id="tabelaListaValidador">
				<thead>
					<tr><th>&nbsp;</th><th>ID</th><th>Em Corrida</th></tr>
				</thead>
				<tbody>
					#foreach($validador in $validadores)
					<tr id="linha$validador.ValidadorID">
						<td><input type="checkbox" name="chkValidadorID" value="$validador.ValidadorID"/></td>
						<td>$validador.ValidadorID</td>
						<td>$validador.EmCorrida</td>
					</tr>
					#end
				</tbody>
			</table>
			#if ($mensagem) <label>$mensagem</label/><br/><br/>#end
			<input type="button" class="submit" value="Remover" onclick="verificaRemover('tabelaListaValidador', 'formListaValidador')"/>
			</form>
		</div>
	</div>
	
	
	
	<div class="right">
	</div>	
	
#parse("rodape.vm")