#parse("cabecalho.vm")

		<div class="search_field">

			<p>&nbsp;</p>
		</div>

<div class="left">

	<h3>$nomeOperacao Linha Integrada</h3>
		<div class="left_box">
			<form id="formLinhaIntegrada" action="gerenciaLinhaIntegrada.html">
				#if ($integracaoID)<label>Identificador da Integração: <input type="text" name="integracaoID" value="$integracaoID" readonly="readonly" class="search_tiny"/></label><br/>#end 
				<label>Linha Original: 
					<select name="nomeLinhaOriginal">
					#if ($integracaoID)
						#foreach ($linha in $linhas)
							#if ($linha.NomeLinha == $linhaIntegrada.LinhaOriginal.NomeLinha)
								<option value="$linha.NomeLinha" selected="selected">$linha.NomeLinha</option>
							#else <option value="$linha.NomeLinha">$linha.NomeLinha</option>
							#end
						#end
					#else	
						#foreach ($linha in $linhas)
							<option value="$linha.NomeLinha">$linha.NomeLinha</option>
						#end
					#end
					</select>
				</label><br/>
				<label>Linha Integrada: 
					<select name="nomeLinhaIntegrada">
					#if ($integracaoID)
						#foreach ($linha in $linhas)
							#if ($linha.NomeLinha == $linhaIntegrada.LinhaIntegrada.NomeLinha)
								<option value="$linha.NomeLinha" selected="selected">$linha.NomeLinha</option>
							#else <option value="$linha.NomeLinha">$linha.NomeLinha</option>
							#end
						#end
					#else	
						#foreach ($linha in $linhas)
							<option value="$linha.NomeLinha">$linha.NomeLinha</option>
						#end
					#end
					</select>
				</label><br/>
				<input type="hidden" name="operacao" value="$operacao"/>
				<input type="submit" class="submit" value="$nomeOperacao"/>
				<input type="button" class="submit" value="Cancelar" onclick="redireciona('gerenciaLinhaIntegrada.html')"/>
			</form>
		</div>
</div>
	
#parse("rodape.vm")