#parse("cabecalho.vm")

		<div class="search_field">

			<p>&nbsp;</p>
		</div>

<div class="left">
	<h3>$nomeOperacao Viagem</h3>
		<div class="left_box">
			<form id="formViagem" action="gerenciaViagem.html">
				#if ($viagemID)<label>Identificador do Viagem: <input type="text" name="viagemID" readonly="readonly" value="$viagemID" class="search_tiny"/></label><br/>#end 
				<label>Número do Cartão:
					<select name="cartaoID">
					#if ($viagemID)
						#foreach ($cartao in $cartoes)
							#if ($cartao.CartaoID==$viagem.Cartao.CartaoID)
							<option value="$cartao.CartaoID" selected="selected">$cartao.CartaoID</option>
							#else <option value="$cartao.CartaoID">$cartao.CartaoID</option>
							#end
						#end
					#else	
						#foreach ($cartao in $cartoes)
							<option value="$cartao.CartaoID">$cartao.CartaoID</option>
						#end
					#end
					</select>
				</label><br/>	
				<label>Data Viagem: <input id="dataViagem" type="text" name="dataViagem" class="search_small" #if ($viagem.ViagemID) value="$sdfData.format($viagem.Hora.Time)" #end/></label><br/>
				<label>Hora Viagem: <input id="horaViagem" type="text" name="horaViagem" class="search_small" #if ($viagem.ViagemID) value="$sdfHora.format($viagem.Hora.Time)" #end/></label><br/>				
				<label>Linha:
					<select name="nomeLinha">
					#foreach ($linha in $linhas)
						<option value="$linha.NomeLinha">$linha.NomeLinha</option>
					#end
					</select>
				</label><br/>				
				
				<input type="hidden" name="operacao" value="$operacao"/>
				<input type="button" class="submit" value="$nomeOperacao" onclick="validaDataHora('formViagem')"/>
				<input type="button" class="submit" value="Cancelar" onclick="redireciona('gerenciaViagem.html')"/>
			</form>
		</div>
	</div>
	
#parse("rodape.vm")