<?xml version="1.0" encoding="ISO-8859-1"?>
		<div class="bar menu">
			<ul>
				<li nivel="5"><a href="#">Viação</a>
					<ul>
						<li nivel="5"><a href="gerenciaEmprViaria.html">Empresa Viária</a></li>
						<li nivel="5"><a href="gerenciaSistViarioUrbano.html">Sistema Viário</a></li>
						<li nivel="5"><a href="gerenciaTarifa.html">Tarifa</a></li>
					</ul> 					
				</li>
				<li nivel="3"><a href="#">Cartão</a>
					<ul>
						<li nivel="3"><a href="gerenciaCartao.html">Cartão</a></li>
						<li nivel="5"><a href="gerenciaTipoPassageiro.html">Tipo Passageiro</a></li>
						<li nivel="5"><a href="gerenciaPagamento.html">Pagamento</a></li>
						<li nivel="5"><a href="gerenciaViagem.html">Viagem</a></li>
						<li nivel="3"><a href="cargaCartao.html">Carga Cartão</a></li>
					</ul>
				</li>
				<li nivel="5"><a href="#">Funcionário</a>
					<ul>
						<li nivel="5"><a href="gerenciaFuncionario.html">Funcionário</a></li>
						<li nivel="5"><a href="gerenciaCargo.html">Cargo</a></li>
					</ul> 
				</li>
				<li nivel="3"><a href="gerenciaPassageiro.html">Passageiro</a>
				</li>				
				<li nivel="5"><a href="#">Linha</a>				
					<ul>
						<li nivel="5"><a href="gerenciaLinha.html">Linha</a></li>
						<li nivel="5"><a href="gerenciaOnibus.html">Ônibus</a></li>
						<li nivel="5"><a href="gerenciaCorrida.html">Corrida</a></li>
					</ul> 
				</li>
				<li nivel="0" class="logout"><a href="logout.html?operacao=logout">Sair</a></li>
			</ul>
		</div>