#parse("cabecalho.vm")

		<div class="search_field">
			<form method="post">
				<div class="search_form">
				<p>Busca Por ID: <input type="text" name="pgtoID" class="search_tiny" /> 
				<input type="hidden" name="operacao" value="buscar"/>
				<input type="submit" value="Buscar" class="submit" /> <a class="grey" href="#">Avançada</a></p>
				</div>
			</form>	
			<p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
		
	<div class="left">
						
	<h3>Lista de Pagamentos</h3>
	
		<div class="left_box">	
			<form id="formListaPagamentos">
			<table id="tabelaListaPagamentos">
				<thead>
					<tr><th>&nbsp;</th><th>ID</th><th>Data do Pagamento</th><th>Valor do Pagamento</th><th>Número do Cartão</th></tr>
				</thead>
				<tbody>
					#foreach($pagamento in $pagamentos)
					<tr id="linha$pagamento.PgtoID">
						<td><input type="checkbox" name="chkPgtoID" value="$pagamento.PgtoID"/></td>
						<td>$pagamento.PgtoID</td>
						<td>$sdf.format($pagamento.DtPgto.Time)</td>
						<td>$pagamento.ValorPgto</td>
						<td>$pagamento.Cartao.CartaoID</td>
						<td><a href="formPagamento.html?pgtoID=$pagamento.PgtoID">Alterar</a></td>
					</tr>
					#end
				</tbody>
			</table>
			#if ($mensagem) <label>$mensagem</label/><br/><br/>#end
			<input type="button" class="submit" value="Remover" onclick="verificaRemover('tabelaListaPagamentos', 'formListaPagamentos')"/>
			</form>
			<a href="formPagamento.html">Inserir Novo Pagamento</a>
		</div>
	</div>
	
	
	
	<div class="right">
	
	</div>	

#parse("rodape.vm")