#parse("cabecalho.vm")

		<div class="search_field">
			<p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
		
		<div class="left">
		
		<h3>Sistema Viário Urbano</h3>
	
		<div class="left_box">	
			<form id="formListaSistema">
			<table id="tabelaSistema">
				<thead>
					<tr><th>ID</th><th>Nome</th><th>Tempo Maximo Integração</th></tr>
				</thead>
				<tbody>
					#if ($sistema)
					<tr id="linha$sistema.ViacaoID">
						<td>$sistema.ViacaoID</td>
						<td>$sistema.nomeCidade</td>
						<td>$tempoMaxIntegracao segundos</td>
						<td><a onclick="toggleElementVisibility('formSistema')">Alterar</a></td>
					</tr>
					#end
				</tbody>
			</table>
			</form>
		</div>
		<div  id="formSistema">
			<h3>Dados do Sistema Viário Urbano</h3>
				<div class="left_box">
					<form id="formNovoSistema">
						<label>Cidade: <input type="text" name="nomeCidade" class="search"/></label><br/>
						<label>Tempo Máximo Integração: <input type="text" name="tempoMaxIntegracao" class="search_small"/></label><br/>
						<input type="hidden" name="operacao" #if (!$sistema) value="criar" #else value="alterar" #end/>
						#if ($sistema) <input type="hidden" name="viacaoID" value="$sistema.viacaoID"/> #end
						<input type="submit" class="submit" value="Salvar"/>
					</form>
				</div>
		</div> 
	</div>
	
	
	
	<div class="right">
	</div>	

#parse("rodape.vm")
