#parse("cabecalho.vm")

		<div class="search_field">
			<form method="post">
				<div class="search_form">
				<p>Busca Por ID: <input type="text" name="terminalID" class="search_tiny" /> 
				<input type="hidden" name="operacao" value="buscar"/>
				<input type="submit" value="buscar" class="submit" />
				</div>
			</form>	
			<p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
		
	<div class="left">
						
	<h3>Lista de Terminais</h3>
	
		<div class="left_box">	
			<form id="formListaTerminais">
			<table id="tabelaListaTerminais">
				<thead>
					<tr><th>&nbsp;</th><th>ID</th><th>Nome</th><th>Qtd de Validadores</th></tr>
				</thead>
				<tbody>
					#foreach($terminal in $terminais)
					<tr id="linha$terminal.TerminalID">
						<td><input type="checkbox" name="chkTerminalID" value="$terminal.terminalID"/></td>
						<td>$terminal.TerminalID</td>
						<td>$terminal.NomeTerminal</td>
						<td>$terminal.QtdValidadores</td>
						<td><a href="formTerminal.html?terminalID=$terminal.terminalID">Alterar</a></td>
					</tr>
					#end
				</tbody>
			</table>
			#if ($mensagem) <label>$mensagem</label/><br/><br/>#end
			<input type="button" class="submit" value="Remover" onclick="verificaRemover('tabelaListaTerminais', 'formListaTerminais')"/>
			</form>
			<a href="formTerminal.html">Inserir Novo Terminal</a>
		</div>
	</div>
	
	
	
	<div class="right">
	
	</div>	

#parse("rodape.vm")