<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
		<link rel="stylesheet" href="images/style.css" type="text/css" />
		<link rel="stylesheet" href="images/menu.css" type="text/css" />
		<script type="text/javascript" src="js/bet.js"></script>
		<script type="text/javascript" src="js/data.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<title>Gestão BET - Bilhetes Eletrônicos de Transporte municipal</title>
	
		<script type="text/javascript">
		// Your code goes here
		</script>
		
	</head>
	
	<body>
		<a href="http://jquery.com/">jQuery</a>
	</body>
 </html>
