#parse("cabecalho.vm")

		<div class="search_field">
			<form method="post">
				<div class="search_form">
				<p>Busca Por ID: <input type="text" name="tarifaID" class="search_tiny" /> 
				<input type="hidden" name="operacao" value="buscar"/>
				<input type="submit" value="Buscar" class="submit" /> <a class="grey" href="#">Avançada</a></p>
				</div>
			</form>	
			<p>&nbsp;</p>
		</div>
		
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
		
		<div class="left">
			
			<h3>Histórico de tarifas</h3>
			<div class="left_box">	
			<form id="formListaTarifas">
			<table id="tabelaListaTarifas">
				<thead>
					<tr><th>&nbsp;</th><th>ID</th><th>Nome</th><th>Valor</th><th>Data</th></tr>
				</thead>
				<tbody>
					#foreach($tarifa in $tarifas)
					<tr id="linha$tarifa.TarifaID">
						<td><input type="checkbox" name="chkTarifaID" value="$tarifa.TarifaID"/></td>
						<td>$tarifa.TarifaID</td>
						<td>$tarifa.NomeTarifa</td>
						<td>$tarifa.ValorTarifa</td>
						<td>$sdf.format($tarifa.DtAtualizacao.Time)</td>
						<td><a href="formTarifa.html?tarifaID=$tarifa.TarifaID">Alterar</a></td>
					</tr>
					#end
				</tbody>
			</table>
			#if ($mensagem) <label>$mensagem</label/><br/><br/>#end
			<input type="button" class="submit" value="Remover" onclick="verificaRemover('tabelaListaTarifas', 'formListaTarifas')"/>
			</form>
			<a href="formTarifa.html">Inserir Nova Tarifa</a>
		</div>
	</div>
	
	
	
	<div class="right">
	
	</div>	
		
#parse("rodape.vm")